@tailwind base;

:root {
  --primary-color: #d8e3d6;
  --scrollbar-white: #f5f5f4;
  --scrollbar-stone-400: #ebe9e5a8;
  --scrollbar-stone-800: #292524;
  --transparent: 'transparent';
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-white) var(--scrollbar-stone-800);
  scroll-behavior: smooth;
}

.invert-scrollbar {
  scrollbar-color: var(--scrollbar-stone-800) var(--scrollbar-white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-stone-800);
  border: 3px solid var(--scrollbar-white);
}
/* } */

.invert-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-stone-800);
}

.invert-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-white);
  border: 3px solid var(--scrollbar-stone-800);
}

/* @media (max-width: 420px) {
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
} */

@media (min-width: 768px) {
  * {
    cursor: none;
  }
}

@tailwind components;
@tailwind utilities;
